<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{ url_for('static', filename='images/zephyr_logo_img.png')}}">
	<title>
		{% block title %}

		{% endblock %}
	</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

</head>

<body>
		<header>
			<nav>
			<image src="{{ url_for('static', filename='images/ZEPHYR.jpg')}}" alt="Zephyr" class="logo">
				<div class="nav_item_container">
					<ul class="nav_item">
						<li><a href="">HOME</a></li>
						<li><a href="">ABOUT US</a></li>
						<li><a href="">ACCOMMODATION</a></li>
						<li><a href="">GALLERY</a></li>
						<li><a href="">CONTACT</a></li>
						<li><a href="">Sign in/Sign up</a></li>
					</ul>
				</div>

			</nav>
		</header>
		{% block content %}

      {% endblock %}

	<footer>
		<div class="footer">
			<div class="footer_content">
				<p>
					This web app is built as part of the Alx Holberton School Requirements to hone our skills on the
					various languages we have been taught for the past nine months.
					<h3>Technologies Used</h3>
					The technologies used for the development of both the frontend and the backend are:
					HTML, CSS, FLASK, and SQLALCHEMY
				</p>
			</div>
			<div class="border_Line"></div>
			<div class="footer_bottom">
				<p>
					Copyright © 2024 All rights reserved | Developed by Matthew Oyelami
				</p>
				<div class="social-media_icons">
					<div class="media_icon"><a href="{{ social_links.twitter }}"><img src="{{ url_for('static', filename='images/Icons/Platform=X (Twitter).svg')}}" alt="Twitter"></a></div>
					<div class="media_icon"><a href="{{ social_links.instagram }}"><img src="{{ url_for('static', filename='images/Icons/Platform=Instagram.svg')}}" alt="Instagram"></a></div>
					<div class="media_icon"><a href="{{ social_links.linkedin }}"><img src="{{ url_for('static', filename='images/Icons/Platform=LinkedIn.svg')}}" alt="Linkedin"></a></div>
					<div class="media_icon"><a href="{{ social_links.github }}"><img src="{{ url_for('static', filename='images/Icons/Platform=Github.svg')}}" alt="Github"></a></div>
					<div class="media_icon"><a href="{{ social_links.medium }}"><img src="{{ url_for('static', filename='images/Icons/Platform=Medium.svg')}}" alt="Medium"></a></div>
					</div>
			</div>
		</div>

	</footer>
</body>

</html>