{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}
<div class="booking_area">
	<form action="#" method="post" class="booking_table">
		<div>
			<h2>BOOK
				<br>
				YOUR ROOM
			</h2>
		</div>

		<div class="form_table_col">
			{{ form.check_in.label() }}
			{{ form.check_in() }}
			<br>
			{{ form.check_out.label() }}
			{{ form.check_out() }}
		</div>
		<div class="form_table_col">
			{{ form.adults.label() }}
			{{ form.adults() }}
			<br>
			{{ form.children.label() }}
			{{ form.children() }}
		</div>
		<div class="form_select_col">
			{{ form.room_type.label() }}
			{{ form.room_type() }}
			<br>
			<a href="" class="book_now_btn">BOOK NOW</a>
		</div>
	</form>
</div>

{% endblock %}
