<div class="booking_table" id="#booking_form">
	<div>
		<h2>BOOK
			<br>
			YOUR ROOM
		</h2>
	</div>

	<form action="#" method="post" class="booking_area">
		<div class="form_table_col">
			<label>Arrival Date</label> <br>
			<input type="date" placeholder="Arrival Date">
			<br>
			<label>Departure Date</label> <br>
			<input type="date" placeholder="Departure Date">
		</div>
		<div class="form_table_col">
			<label>Adults</label> <br>
			<input type="number" placeholder="Adults">
			<br>
			<label>Children</label> <br>
			<input type="number" placeholder="Children">
		</div>
		<div class="form_select_col">
			<label>Room Type</label> <br>
			<select>
				<option value="Select an option" disabled selected>Select an option</option>
				<option value="Single Room">Single Room</option>
				<option value="Single Deluxe Room">Single Deluxe Room</option>
				<option value="Double Deluxe Room">Double Deluxe Room</option>
				<option value="Honeymoon Suite">Honeymoon Suite</option>
				<option value="Villa Room">Villa Room</option>
				<option value="Executive Room">Executive Room</option>
				<option value="Triple Room">Triple Room</option>
				<option value="Bridal Suite">Bridal Suite</option>
				<option value="Standard Suite Room">Standard Suite Room</option>
				<option value="King Room">King Room</option>
				<option value="Queen Room">Queen Room</option>
				<option value="Duplex Room">Duplex Room</option>
			</select>
			<br>
			<a href="" class="book_now_btn">BOOK NOW</a>
		</div>
	</form>
</div>