{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}
<div class="booking_area">
	<form action="#" method="post" class="booking_table">
		<div>
			<h2>BOOK
				<br>
				YOUR ROOM
			</h2>
		</div>

		<div class="form_table_col">
			{{ form.check_in.label() }}
			{{ form.check_in(placeholder="Check In Date") }}
			<br>
			{{ form.check_out.label() }}
			{{ form.check_out() }}
		</div>
		<div class="form_table_col">
			{{ form.adults.label() }}
			{{ form.adults(placeholder="Number of  Adults") }}
			<br>
			{{ form.children.label() }}
			{{ form.children(placeholder="Number of Children") }}
		</div>
		<div class="form_select_col">
			{{ form.room_type.label() }}
			{{ form.room_type() }}
			<br>
			{{ form.book_now() }}
		</div>
	</form>
</div>

{% endblock %}
