<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section class="sign_up">
		<div class="sign_up_bg_color"></div>
		<div class="form_block">
			<div class="form_heading"><h3>Register</h3></div>
			<form action="#"  method="post">
				<div class="form_row">
					<label for="name">Full Name</label> <br>
					<input type="text" placeholder="John Doe">
				</div>

				<div class="form_row">
					<label for="username">Email Address</label> <br>
					<input type="email" placeholder="your-email@gmail.com">
				</div>

				<div class="form_row">
					<label for="password">Password</label> <br>
					<input type="password" placeholder="Your Password">
				</div>

				<div class="form_row">
					<label for="confirm password">Confirm Password</label> <br>
					<input type="password" placeholder="Confirm Password">
				</div>

				<div class="checkbox_area">
					<label for="">
						<input type="checkbox" checked="checked" class="checkbox">
						<span>Agree with our</span><a href="#">Terms and Conditions</a>
					</label> <br>
					
					<span><a href="#">Have an account? Login</a></span>
				</div>

				<div>
					<input type="submit" value="Create Account">
				</div>

			</form>

		</div>

	</section>
</body>
</html>