<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css')}}">
</head>
<body>
	<section class="sign_up">
		<div class="sign_up_bg_color"></div>
		<div class="form_block">
			<div class="form_heading"><h3>Register</h3></div>
			<form action="#"  method="post">
				<div class="form_row">
					<label for="name">Full Name</label> <br>
					<input type="text" placeholder="John Doe">
				</div>

				<div class="form_row">
					<label for="username">Email Address</label> <br>
					<input type="email" placeholder="your-email@gmail.com">
				</div>

				<div class="form_row">
					<label for="password">Password</label> <br>
					<input type="password" placeholder="Your Password">
				</div>

				<div class="form_row">
					<label for="confirm password">Confirm Password</label> <br>
					<input type="password" placeholder="Confirm Password">
				</div>

				<div class="checkbox_area">
					<label for="" class="checkbox_label">
						<div class="checkbox_div"><input type="checkbox" checked="checked" class="checkbox"></div>
						<span>Agree with our <a href="#">Terms and Conditions</a></span>
					</label> <br>
					
					<span class="login_link">Have an account? <a href="{{ url_for('sign_in_page')}}">Login</a></span>
				</div>

				<div class="submit_btn">
					<input type="submit" value="Create Account">
				</div>

			</form>

		</div>

	</section>
</body>
</html>