*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
	scroll-behavior: smooth;
    height: 100%; 
	width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body {
    line-height: 24px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #777777;
}


header nav{
	z-index: 1;
	display: flex;
	justify-content: space-between;
	height: 100px;
	background-color: white;
	align-items: center;
}


header nav .nav_item_container .nav_item {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
	margin-right: 17%;
}
.nav_item_container{
	width: 50%;
}

.logo{
	height: 3rem;
	margin-left: 10%;
}

.nav_item li a{
	color: #494a5b;
	text-decoration: none;
}

.hero_area{
	position: relative;
	width: 100%;
}

#background-video{
	position: absolute;
	z-index: -1;
	top: 0;
    left: 0;
	right: 0;
	bottom: 0;
	margin-top: 0px;
	margin-right: 0px;
}

.hero{
	position: relative;
	z-index: 1;
	height: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero_content{
	text-align: center;
	/* margin-top: 14rem; */
}

.hero_content h6{
	color: white;
	font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 500;
	margin-top: 49%;
}

.hero_content h2{
	color: white;
	font-size: 60px;
    font-weight: 700;
	text-transform: capitalize;
	margin-top: 20px;
}

.hero_content p{
	font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    padding: 10px 0px 20px;
	color: white;
	margin-top: 30px;
}

.hero_btn_area{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4rem;
}
.hero_btn{
	background-color: #f3c300;
	font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
	text-decoration: none;
	height: 3rem;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 10rem;
	padding-left: 30px;
	padding-right: 30px;
}

.booking_area{
	margin-top: 10%;
	width: 100%;
	margin-bottom: 0%;
	
}

.booking_table{
	background: #04091e;
	display: flex;
	padding: 40px 50px 30px;
	align-items: center;
	justify-content: space-evenly;
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: 0%;

}

.booking_table h2{
	font-size: 24px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
}

input{
    border: 1px solid #2b3146;
    background: transparent;
    border-radius: 0px;
    font-size: 13px;
    line-height: 38px;
    padding: 0px 20px;
    color: #777777;
    z-index: 0;
	width: 100%;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
	margin-top: 4%;
	margin-bottom: 4%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	background-color: #495057;
	color: white; 
	padding: 5px;
  }

.form_table_col{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

label{
	color: #495057;
	font-size: 1.2rem;
	text-transform: none;
	line-height: 1.5;
	letter-spacing: 0.5px;
	font-weight: 500;
	
}

select{
	background-color: transparent;
	border: 1px solid #2b3146;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
	color: #777777;
	font-size: 16px;
	line-height: 38px;
	width: 100%;
	height: 42px;
	padding-left: 18px;
    padding-right: 30px;

}

select option{
	background-color: transparent;
	font-family: "Poppins", sans-serif;
	
}

.form_select_col .btn{
	background-color: #f3c300;
	cursor: pointer;
	margin-top: 15%;
	color: white;
	font-size: 18px;
	font-weight: 500;
	box-shadow: none;
}

.accommodation_area_container{
	background: #FFFFFF;
	color: #777777;
	font: 14px Poppins, sans-serif;
	padding: 120px 0px;
}
.accommodation_area{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.accommodation_images_text{
	display: flex;
	margin-top: 5%;

}
.accommodation_item{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	text-align: center;
}

.accommodation_text_area{
	text-align: center;
}
.accommodation_text_area h2{
	color: #24231e;
	font-size: 36px;
	line-height: 45px;
	font-weight: 600;
	margin: 0px 0px 8px;
	align-items: center;
}

.accommodation_text_area p{
	font-size: 14px;
    line-height: 30px;
    color: #777777;
    margin-bottom: 0px;
}

.hotel_img_area{
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}

.hotel_img_area img{
	vertical-align: middle;
    border-style: none;
	border-radius: 10px;
	border-style: none;

}

.hotel_img_area a{
	position: absolute;
	bottom: 20px;
	left: 50%;
	padding: 5px 25px;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	background: #f3c300;
	text-decoration: none;
	text-align: center;
	vertical-align: center;
	transform: translate(-50%);
}

.sec_h4 {
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0px;

}

.accommodation_item a{
	text-decoration: none;
}

.accommodation_item h5 {
    font-size: 24px;
    line-height: 28px;
    color: #52c5fd;
    font-weight: 600;
    margin-bottom: 0px;
	margin-top: 0px;
}

.facilities_area{
	position: relative;
	background-image: url('facilites_bg.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-position-x: center;
	background-position-y: 0px;
	background-color: initial;
	background-attachment: scroll;
    background-origin: initial;
	background-clip: initial;
	height: 1250px;
	opacity: 1.5;
	font-size: 14px;
	font-weight: 300;
}

.overlay{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
	height: 100%;
    bottom: 0;
    z-index: 1;
	background-color: rgba(6, 8, 37, 0.849)


}

.facilities_area_content{
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 0px 15px;
	margin: 0px 86.5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.facilities_content{
	margin-bottom: 30px;
	padding-top: 95px;
	text-align: center;
}

.facilities_content h2{
	font-size: 45px;
	font-weight: 700;
	color: #fff;
	text-size-adjust: 100%;
	margin-bottom: 25px;
}

.facilities_content p{
	font-size: 18px;
	line-height: 30px;
	color: #777777;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.zephyr_services{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: -30px;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	margin-top: 0%;
	padding-left: 5%;
	padding-right: 5%;


}

.service{
	border: 1px solid #777777;
    border-radius: 10px;
    background-color: rgba(249, 249, 255, 0.102);
    padding: 31px 40px 37px;
    color: #fff;
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
	overflow-wrap: break-word;
    word-wrap: break-word;
	flex: 1 1 calc(33.333% - 20px);
	margin: 20px;
	height: 280px;
}

.service h4{
	font-size: 18px;
	color: #fff;
	line-height: 38px;
	font-weight: 600;
	margin-bottom: 0px;
}

.service p{
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0px;	
}

.service h5{
	font-size: 16px;
}

.facilities_icon{
	display: flex;
}
.facilities_icon img{
	height: 50px;
}
.facilities_icon h4{
	margin-top: 2%;
	margin-left: 2%;
}

.about_area{
	display: flex;
	padding: 120px 0px;
	color: #777777;
	background-color: #FFFFFF;
	height: 650px;
	align-items: center;
	justify-content: center;
	

}

.about_content{
	color: #777777;
	font-size: 14px;
	padding: 0px 60px 0px 0px;
	width: 45%;
	margin-top: 0%;
}

.about_content h2{
	font-size: 36px;
    line-height: 45px;
    font-weight: 600;
	color: #222222;
	margin-top: 0%;
}

.about_content p{
	font-size: 14px;
	margin: 0px 0px 16px;
	padding: 18px 0px 30px;
}

.about_content .request_btn{
	height: 40px;
	background-color: #222222;
	width: 270px;
	text-align: center;
	padding: 5px 29px;
}
.about_content a{
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 30px;
}

.about_img img{
	height: 500px;
	width: 100%;
	margin-top: 13%;
	
}
.about_img{
	margin-top: 0%;
	width: 40%;
}

footer{
	background-color: #04091e;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 0%;

}
.footer{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
}

.footer_content{
	margin-top: 3%;
	font-size: 16px;
}

.footer_content h3{
	font-size: 18px;
	font-weight: 600;
}

.border_Line{
	width: 100%;
    height: 1px;
    background: #333333;
    margin-top: 30px;
}

.footer_bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.social-media_icons{
	width: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.media_icon a img{
	height: 20px;
}